# rppg
__pycache__/
runs/
log/
dataset/
*.pth
*.pickle
*.pdf

# Python
__pycache__/
*.pyc
*.pyo

# ROS2 / colcon
build/
install/
log/

# VS Code
.vscode/

# Environment
.env
.venv/
venv/

# Logs / data
*.log
*.bag
*.db3

# System
.DS_Store

# ros2 패키지의(cpr_ws) build, install, log는 git에서 제외
cpr_ws/build/
cpr _ws/install/
cpr_ws/log/
